/* FontAwesome (http://fontawesome.io/icons/) */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 7-stroke (http://themes-pixeden.com/font-demos/7-stroke/index.html) */

@font-face {
    font-family: 'Icon7Stroke';
    src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
    src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
    url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
    url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
    url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}  

/* Weather icons */

@font-face {
    font-family: 'WeatherIcons';
    src: url('../fonts/bt-weather.eot');
    src: url('../fonts/bt-weather.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bt-weather.woff') format('woff'),
         url('../fonts/bt-weather.ttf') format('truetype'),
         url('../fonts/bt-weather.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Custom icons */

@font-face {
    font-family: 'CustomDesignSet';
    src:
        url('../fonts/CustomDesignSet.ttf?uo8kwk') format('truetype'),
        url('../fonts/CustomDesignSet.woff?uo8kwk') format('woff'),
        url('../fonts/CustomDesignSet.svg?uo8kwk#CustomDesignSet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomEssentialSet';
    src:
        url('../fonts/CraftEssential.ttf?uo8kwk') format('truetype'),
        url('../fonts/CraftEssential.woff?uo8kwk') format('woff'),
        url('../fonts/CraftEssential.svg?uo8kwk#CustomEssentialSet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomProductivitySet';
    src:
        url('../fonts/Productivity.ttf?uo8kwk') format('truetype'),
        url('../fonts/Productivity.woff?uo8kwk') format('woff'),
        url('../fonts/Productivity.svg?uo8kwk#CustomProductivitySet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomBusinessSet';
    src:
        url('../fonts/Business.ttf?uo8kwk') format('truetype'),
        url('../fonts/Business.woff?uo8kwk') format('woff'),
        url('../fonts/Business.svg?uo8kwk#CustomBusinessSet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomDevelopmentSet';
    src:
        url('../fonts/Development.ttf?uo8kwk') format('truetype'),
        url('../fonts/Development.woff?uo8kwk') format('woff'),
        url('../fonts/Development.svg?uo8kwk#CustomDevelopmentSet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomConstructionSet';
    src:
        url('../fonts/Construction.ttf?uo8kwk') format('truetype'),
        url('../fonts/Construction.woff?uo8kwk') format('woff'),
        url('../fonts/Construction.svg?uo8kwk#CustomConstructionSet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomTransportationSet';
    src:
        url('../fonts/Transportation.ttf?uo8kwk') format('truetype'),
        url('../fonts/Transportation.woff?uo8kwk') format('woff'),
        url('../fonts/Transportation.svg?uo8kwk#CustomTransportationSet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomScienceSet';
    src:
        url('../fonts/Science.ttf?uo8kwk') format('truetype'),
        url('../fonts/Science.woff?uo8kwk') format('woff'),
        url('../fonts/Science.svg?uo8kwk#CustomScienceSet') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Variables */

@set baseTemplateWidth 1386; // Base gutter width

@set headingFont Roboto Slab; // Headline fond
@set headingSuperTitleFont Roboto Condensed; // Headline supertitle font
@set headingSubTitleFont Roboto Condensed; // Headline subtitle font

@set logoFont Roboto Slab; // Headline fond
@set menuFont Roboto Slab; // Base font

@set bodyFont Roboto; // Base font
@set bodyFontSize 16; // Base font size

@set lightFontColor #181818; // Base font color
@set lightHeadlineColor #181818; // Base headline color
@set lightBgColor #fff; // Base bg color
@set lightBorderColor rgba(0,0,0,0.1); // Base border color
@set lightBorderColorShaded rgba(0,0,0,0.2); // Base border color
@set lightBgSubColor rgba(0,0,0,0.07);  // Sub bg color
@set lightShadow rgba(0,0,0,0.05);  // Sub bg color
@set lightSearchGradient rgba(255,255,255,.95);
@set lightSemiTransparentColor rgba(255,255,255,.75);

@set darkFontColor #fff; // Base font color
@set darkHeadlineColor #fff; // Base headline color
@set darkBgColor #181818; // Base bg color
@set darkBorderColor rgba(255,255,255,0.1); // Base border color
@set darkBorderColorShaded rgba(255,255,255,0.2); // Base border color
@set darkBgSubColor rgba(255,255,255, 0.3);  // Sub bg color
@set darkShadow rgba(255,255,255, 0.17);  // Sub bg color
@set darkSearchGradient rgba(24,24,24,.95);
@set darkSemiTransparentColor rgba(24,24,24,.75);

@set accentColor #dc0003; // Main color
@set accentColorDark l-adjust($(accentColor) -20);// Dark main color
@set accentColorVeryDark l-adjust($(accentColor) -35);// Darker main color
@set accentColorVeryVeryDark l-adjust($(accentColor) -42);// Very darker main color
@set accentColorLight a-adjust($(accentColor) -30);// Light main color

@set alternateColor #616161; // Secondary color 
@set alternateColorDark l-adjust($(alternateColor) -20);// Dark secondary color
@set alternateColorVeryDark l-adjust($(alternateColor) -25);// Darker secondary color
@set alternateColorLight a-adjust($(alternateColor) -40);// Light secondary color

@set sidebarWidth 25; // Sidebar width (%)
@set sidebarPadding 20; // Padding between sidebar and sontent
@set pagePadding 30; // Left and right page padding for boxed content
@set innerVerticalPadding 15; // Top and bottom padding between content elements (base value)
@set innerHorizontalPadding 15; // RowItem padding
@set gridSpacing 5; // Default spacing in grid gallery
@set logoHeight 50; // Defines logo height and menu line height
@set belowLogoMenuHeight 50; Defines menu height whwn below menu

@set menuVerticalPadding 20; // Top and bottom padding of the whole horizontal menu (px)
@set menuPadding 50; // Padding between horizontal menu elements (px)
@set verticalMenuWidth 290; // Width of the vertical menu (px)
@set dropdownWidth 230; // dropdown width (px)
@set menuFontSize 15; // Base font size

@set extrasmallIconSize 21; // Extra small icon size
@set smallIconSize 32; // Small icon size
@set mediumIconSize 40; // Medium icon size
@set bigIconSize 48; // Big icon size
@set largeIconSize 74; // Large icon size

@set hardBorderRadius 50px; // Soft border radius
@set softBorderRadius 2px; // Soft border radius



/* Aliases */

@selector darkSkinSelector :any(.btDarkSkin, .btLightSkin .btDarkSkin, .btDarkSkin.btLightSkin .btDarkSkin);
@selector lightSkinSelector :any(.btLightSkin, .btDarkSkin .btLightSkin, .btLightSkin .btDarkSkin .btLightSkin);
@selector hTagSelector :any(h1,h2,h3,h4,h5,h6,h7,h8);


/* Reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
    display: block; 
}

audio,
canvas,
video {
    display: inline-block;
}

*:focus, * {
    outline: none;
    outline: 0;
}

.touch * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
    border: 0;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

html,body {
	margin:0;
	padding:0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

/* FloatClears */
.btClear:after, .mainHeader:after, .menuHolder .port:after, .topBarPort:after, .boldSiteFooter:before, .boldSiteFooter:after, .boldSiteFooter .port:after, .contentWrap:after,
.contentHolder:after, .btBox:after, .boldSection .port:after, .header:after, .boldRow:after, .socialRow:before, .socialRow:after, .servicesItem .sIcon:after,
.boldSection:before, .boldSection:after, .psCats:after, .psWrap:after, .btTabs:after, .tabsHeader:after, .socialRow:after,
.articleListItem footer:after, .btPagination:after, .boldArticleBody blockquote:after, .tilesWall.classic .bgiTxt:after, .btQuoteItem:after,
.boldArticleHeader .socialRow:before, .tagcloud:after, .btInstaGrid:after, .rowItemContent:after, .widget_shopping_cart .total:after
{
    content: " ";
    display: table;
    width: 100%;
    clear: both;
}

.btClear {
	clear: both;
}

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

